@model KYC360.Web.ViewModels.SecretUrlViewModels.SupersecretViewModel

@{
    ViewData["Title"] = "Secret Page";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <h1 style="font-size: 3em;">@Model.Text</h1>
</div>